<ion-view title="Historial" id="page4" style="background-color:#4B444D;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
    </ion-content>
</ion-view>