<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="menu.recolecciones" menu-close="">Recolecciones</ion-item>
                <ion-item ui-sref="menu.historial" menu-close="">Historial</ion-item>
                <ion-item ui-sref="menu.miCuenta" menu-close="">Mi cuenta</ion-item>
                <ion-item ui-sref="menu.acerca" menu-close="">Acerca</ion-item>
                <ion-item ui-sref="menu.ayuda" menu-close="">Ayuda</ion-item>
                <ion-item ui-sref="menu.acerca" menu-close="">Salir</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>