<ion-view title="Mi cuenta" id="page2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div id="miCuenta-markdown2" style="color:#000000;">
            <p>Hold on while the application scans your network, the arduino must implement the mdns/bonjour service to get it in this screen, if your arduino doesn't implement such service, make sure to write the correct IP address below.</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Arduino IP</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>